@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

/* FEATURES */
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */
.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */
.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

/* FOOTER */
#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
}

.auth__content {
  padding: 48px 32px 24px;
}

.guest__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #3a579d;
  color: #fff;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.guest__btn--wrapper:hover {
  background-color: #263c6f;
}

.google__btn--wrapper:hover {
  background-color: #2f62b5;
}

.auth__separator {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.auth__separator:after,
.auth__separator:before {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.auth__separator--text {
  margin: 0 24px;
  font-size: 14px;
  color: #394547;
  font-weight: 500;
}

.google__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #4285f4;
  color: #fff;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.auth__main--input {
  height: 40px;
  border: 2px solid #bac8ce;
  border-radius: 4px;
  color: #394547;
  padding: 0 12px;
  outline: #20ba68;
}

.auth__main--input:focus {
  border: 2px solid #20ba68;
}

.auth__main--form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth__forgot--password {
  text-align: center;
  color: #116be9;
  font-weight: 300;
  font-size: 14px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 16px;
  cursor: pointer;
}

.auth__switch--btn {
  height: 40px;
  text-align: center;
  background-color: #f1f6f4;
  color: #116be9;
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-weight: 300;
  font-size: 16px;
}

/* search */
.search__input--wrapper {
  position: relative;
  gap: 8px;
}

.search,
.search__input--wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__content {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 340px;
  width: 100%;
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  max-width: 1070px;
  margin: 0 auto;
  height: 100%;
}

.search__background {
  background-color: #fff;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}

.search__input {
  height: 40px;
  width: 100%;
  padding: 0 16px;
  outline: none;
  background-color: #f1f6f4;
  color: #042330;
  border: 2px solid #e1e7ea;
  border-radius: 8px;
}

.search__icon {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 8px;
  justify-content: flex-end;
  border-left: 2px solid #e1e7ea;
  padding-left: 8px;
}


/* for-you */
.for-you__title {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.selected__book {
  display: flex;
  justify-content: space-between;
  width: calc((100% / 3) * 2);
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  gap: 24px;
}

@media (max-width: 768px) {
  .selected__book {
    width: 100%;
    flex-direction: column;
    gap: 24px;
  }
}


@media (max-width: 768px) {
  .selected__book--sub-title {
    width: 100%;
    font-size: 14px;
  }
}

.selected__book--sub-title {
  color: #032b41;
  width: 40%;
}

@media (max-width: 768px) {
  .selected__book--line {
    display: none;
  }
}

.selected__book--line {
  width: 1px;
  background-color: #bac8ce;
}

@media (max-width: 768px) {

  .selected__book--content,
  .selected__book--text {
    width: 100%;
  }
}

.selected__book--content {
  display: flex;
  gap: 16px;
  width: 60%;
}

@media (max-width: 768px) {

  .selected__book--content,
  .selected__book--text {
    width: 100%;
  }
}

.selected__book--text {
  width: 100%;
}

@media (max-width: 768px) {
  .selected__book--line {
    display: none;
  }
}

.selected__book--line {
  width: 1px;
  background-color: #bac8ce;
}

.book__image--wrapper {
  height: 140px;
  width: 140px;
  min-width: 140px;
}

.selected__book--title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.selected__book--duration-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected__book--author {
  font-size: 14px;
  color: #394547;
  margin-bottom: 16px;
}

.selected__book--sub-title {
  color: #032b41;
  width: 40%;
}

.play__button{
  cursor:pointer;
}

@media (max-width: 768px) {

  .selected__book--sub-title {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 1200px){
.selected__book {
    width: 100%;
}
}
.for-you__recommended--books {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: mandatory;
  scroll-snap-type: x;
  margin-bottom: 32px;
}
.for-you__recommended--books::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
}

.for-you__recommended--books::-webkit-scrollbar-thumb {
  background: #515151; /* Set the color of the thumb */
  border-radius: 5px; 
}

.for-you__recommended--books::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the track */
  border-radius: 5px;
}

.for-you__recommended--books::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.summary::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.summary::-webkit-scrollbar-thumb {
  background: #515151; 
  border-radius: 5px; 
}

.summary::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the track */
  border-radius: 5px; 
}

.summary::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.for-you__recommended--books-link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  text-decoration: none;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.book__image--wrapper {
  width: 172px;
  height: 172px;
}

.recommended__book--title {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.recommended__book--author {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
}

.recommended__book--sub-title {
  font-size: 14px;
  color: #394547;
  margin-bottom: 8px;
}

.recommended__book--details-wrapper {
  display: flex;
  gap: 8px;
}

.recommended__book--details {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 300;
}

.recommended__book--details-icon {
  display: flex;
  width: 16px;
  height: 16px;
}

.book__image {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.for-you__recommended--books-link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  text-decoration: none;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.for-you__recommended--books-link:hover {
  background-color: rgba(147, 166, 156, 0.3);
}

body::-webkit-scrollbar {
  display: none;
}

.book__pill {
  background-color: #032b41;
  width: -moz-fit-content;
  width: fit-content;
  height: 18px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

/* ID */

.inner__wrapper {
  display: flex;
  gap: 16px;
}

.inner-book__author,
.inner-book__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__title {
  font-size: 32px;
}

.inner-book__description {
  display: flex;
  align-items: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
}

.inner__wrapper {
  display: flex;
  gap: 16px;
}

@media (max-width: 992px) {
  .inner__wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .inner__book {
    order: 1;
  }
}

.inner__book {
  width: 100%;
}

.inner-book__author,
.inner-book__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__sub--title {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
}

.inner-book__wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.inner-book__description--wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}

.inner-book__description {
  display: flex;
  align-items: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
}

.inner-book__icon {
  display: flex;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}


.inner-book__read--btn-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.inner-book__read--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity .2s;
}

.inner-book__bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 18px;
  transition: color .2s;
}

.inner-book__bookmark--icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.inner-book__secondary--title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color .2s;
}

.inner-book__tags--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.inner-book__book--description {
  color: #032b41;
  margin-bottom: 16px;
  line-height: 1.5;
}

.inner-book__secondary--title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__author--description {
  color: #032b41;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .inner-book__title {
    font-size: 24px;
  }

  .inner-book__sub--title {
    font-size: 18px;
  }

  .inner-book__author,
  .inner-book__author--description,
  .inner-book__book--description,
  .inner-book__tag {
    font-size: 14px;
  }

  .inner-book__bookmark {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .inner-book--img-wrapper {
    display: flex;
    justify-content: center;
  }
}

/* player */
.wrapper{
  margin-left: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
  }
}
.search__background {
  background-color: #fff;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}

.summary {
  position: relative;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.audio__book--summary {
  white-space: pre-line;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.audio__book--summary-title {
  color: #032b41;
  font-size: 24px;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 32px;
  padding-bottom: 16px;
  line-height: 1.5;
}

.audio__book--summary-text {
  white-space: pre-line;
  line-height: 1.4;
  color: #032b41;
}

.audio__wrapper {
  width: 100%;
  height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #042330;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.audio__wrapper>div {
  width: calc(100% / 3);
}

.audio__track--wrapper {
  display: flex;
  gap: 12px;
}

.audio__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio__controls--btn {
  border-radius: 50%;
  cursor: pointer;
}

.audio__track--image-mask {
  display: flex;
  max-width: 48px;
}

.audio__track--details-wrapper {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.audio__track--author {
  color: #bac8ce;
}

.audio__controls--btn-play {
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.audio__controls {
  gap: 24px;
}

.audio__progress--wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.audio__time {
  color: #fff;
  font-size: 14px;
}

.audio__progress--bar {
  border-radius: 8px;
  height: 4px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


@media (max-width: 768px) {
  .audio__track--image-mask {
    max-width: 80px;
  }

  .audio__wrapper {
    height: 180px;
    padding: 16px 24px;
    flex-direction: column;
  }

  .audio__wrapper>div {
    width: 100%;
    justify-content: center;
  }
}

/* choose-plan */
.wrapper__full {
  margin-left: 0;
  width: 100%;
}

.plan {
  width: 100%
}

.plan__header--wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 48px;
  margin-bottom: 24px
}

.plan__header--wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #032b41;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem
}

.plan__header {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  padding: 0 24px
}

.plan__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px
}

.plan__sub--title {
  font-size: 20px;
  margin-bottom: 32px
}

.plan__img--mask {
  display: flex;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
  border-radius: 180px 180px 0 0;
  overflow: hidden
}

.plan__img--mask img {
  width: 100%;
  height: 100%
}

.plan__features--icon {
  display: flex;
  justify-content: center;
  color: #032b41;
  margin-bottom: 12px
}

.plan__features--icon svg {
  width: 60px;
  height: 60px
}

.plan__features--text {
  color: #394547;
  line-height: 1.5
}

.plan__features--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  grid-gap: 24px;
  gap: 24px;
  max-width: 800px;
  margin: 0 auto 56px
}

.plan__card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f1f6f4;
  border: 4px solid #bac8ce;
  border-radius: 4px;
  cursor: pointer;
  max-width: 680px;
  margin: 0 auto
}

.plan__card--title {
  font-size: 18px;
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px
}

.plan__card--text {
  color: #6b757b;
  font-size: 14px
}

.plan__card--price {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px
}

.plan__card--active {
  border: 4px solid #2be080
}

.plan__card--circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center
}

.plan__card--dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%
}

.plan__card--separator {
  font-size: 14px;
  color: #6b757b;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 240px;
  margin: 24px auto
}

.plan__card--separator:after,
.plan__card--separator:before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #bac8ce
}

.plan__card--cta {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px
}

.plan__disclaimer {
  font-size: 12px;
  color: #6b757b;
  text-align: center
}

.accordion__icon--rotate {
  transform: rotate(180deg);
}

.accordion__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  transition: transform .3s;
}

.accordion__card {
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  overflow: hidden;
}

.show {
  height: auto;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 24px 0;
  gap: 8px;
}

.accordion__title {
  font-weight: 500;
  font-size: 24px;
  position: relative;
  margin-bottom: 0;
  color: #032b41;
  transition: .3s;
}

.accordion__body {
  min-height: 1px;
  padding-bottom: 24px;
  color: #394547;
  line-height: 1.5;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

@media (max-width:768px) {
  .plan__title {
    font-size: 26px;
    margin-bottom: 32px
  }

  .plan__sub--title {
    font-size: 16px
  }

  .plan__header--wrapper:before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
  }

  .plan__features--wrapper {
    grid-template-columns: 1fr
  }

  .plan__card--title {
    font-size: 16px
  }

  .plan__card--text {
    font-size: 12px
  }

  .plan__card--price {
    font-size: 20px
  }
}

/* setting */


.setting__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 24px
}

.setting__content:last-child {
  margin-bottom: 0;
  border-bottom: none
}

.settings__sub--title {
  font-size: 18px;
  font-weight: 700;
  color: #032b41
}

.settings__text {
  color: #032b41
}

.btn.settings__upgrade--btn {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.settings__login--wrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto
}

.settings__login--wrapper img {
  width: 100%;
  height: 100%
}

.settings__login--text {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  text-align: center;
  margin-bottom: 16px
}

.btn.settings__login--btn {
  width: 100px
}



/* SibeBar */


.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a4649;
  transition: opacity .4s ease 0s;
  z-index: 10;
  opacity: .65;
  pointer-events: auto
}

.sidebar__overlay--hidden {
  opacity: 0;
  pointer-events: none
}

.sidebar {
  background-color: #f7faf9;
  width: 200px;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: all .3s
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
  padding-bottom: 20px;
  overflow-y: auto
}

.sidebar__top {
  flex: 1 1;
  margin-top: 40px
}

.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 16px;
  max-width: 160px;
  margin: 0 auto
}

.sidebar__logo img {
  width: 100%;
  height: 40px
}

.sidebar__link--wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: pointer
}

.sidebar__link--wrapper:last-child {
  margin-bottom: 0
}

.sidebar__link--line {
  width: 5px;
  height: 100%;
  background-color: transparent;
  margin-right: 16px
}

.active--tab {
  background-color: #2bd97c
}

.sidebar__link--wrapper:hover {
  background-color: #f0efef
}

.sidebar__link--not-allowed {
  cursor: not-allowed
}

.sidebar__link--not-allowed:hover {
  background-color: transparent
}

.sidebar__link {
  text-decoration: none;
  color: #000;
  font-size: 14px
}

.sidebar__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px
}

.sidebar__icon--wrapper svg {
  width: 24px;
  height: 24px
}

.sidebar__font--size-wrapper {
  display: flex;
  margin-left: 24px;
  gap: 8px
}

.sidebar__font--size-wrapper:hover {
  background-color: transparent;
  cursor: default
}

.sidebar__font--size-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px
}

.sidebar__font--size-icon-small {
  width: 20px;
  height: 20px
}

.sidebar__font--size-icon-medium {
  width: 24px;
  height: 24px
}

.sidebar__font--size-icon-large {
  width: 28px;
  height: 28px
}

.sidebar__font--size-icon-xlarge {
  width: 32px;
  height: 32px
}

.sidebar__font--size-icon--active {
  border-bottom: 3px solid #2bd97c
}

@media (max-width:768px) {
  .sidebar {
    transform: translateX(-100%)
  }

  .sidebar__toggle--btn {
    display: flex
  }
}

.sidebar--opened {
  transform: translateX(0);
  width: 80%
}

.sidebar__toggle--btn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.sidebar__toggle--btn svg {
  width: 24px;
  height: 24px
}


/* search */
.search__books--wrapper {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  max-height: 640px;
  margin-left: auto;
  overflow-y: auto;
  padding: 16px;
  position: absolute;
  top: 104px;
  right: 24px;
  background-color: #fff;
  border: 1px solid #e1e7ea;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.14);
}
.search__book--link {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 24px;
  height: 120px;
  border-bottom: 1px solid #e1e7ea;
}
.search__book--title {
  font-size: 16px;
  font-weight: 500;
  color: #032b41;
  margin-bottom: 8px;
}
.search__book--author {
  font-size: 14px;
  font-weight: 300;
  color: #6b757b;
  margin-bottom: 8px;
}
.sidebar__read{
    height: calc(100vh - 140px);
}

/* setting */
.section__title.page__title {
  text-align: left;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 16px;
}
.setting__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 24px;
}
.settings__sub--title {
  font-size: 18px;
  font-weight: 700;
  color: #032b41;
}
.settings__text {
  color: #032b41;
}

/* skelton box */

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* loader */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* library */

.finished__books--block-wrapper {
  background-color: #f1f6f4;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px;
  border-radius: 12px;
  margin: 0 auto 56px;
  text-align: center;
}
.finished__books--title {
  color: #042330;
  font-weight: 600;
  font-size: 18px;
}
.finished__books--sub-title {
  color: #394547;
}